PORT=4000
HOST_URL=http://localhost:4000
DEBUG=False
ALLOWED_HOSTS=0.0.0.0
ALLOWED_ORIGINS=*
SERVER_TIMEZONE=Asia/Kolkata
JWT_SECRET=47tc47bc4t46rt4365346r
JWT_EXPIRY_HOURS=14

GOOSE_DRIVER=postgres
GOOSE_DBSTRING="postgresql://postgres:root@localhost:5432/postgres?sslmode=disable"