* {
    --primary-color: var(--green-600);
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0px!important;
}
.button-dark {
    background-color: #333;
    border-color: #333;
}
.p-button-outlined {
    border-color: #333;
    color: #333;
}
.p-checkbox.p-highlight .p-checkbox-box {
    border-color: var(--primary-color);
    background: var(--primary-color);
}
.p-checkbox:not(.p-disabled):has(.p-checkbox-input:hover) .p-checkbox-box {
    border-color: var(--primary-color);
}
.p-icon-badge-button {
    box-shadow: none!important;
    border-color: none;
}
.p-icon-badge-button:focus {
    background-color: var(--cyan-100);
}
.feeds-section .p-card {border-radius: 10px;}
.feeds-section .p-card-body {padding: 0px;}
.feeds-section {height: calc(100vh - 66px); padding-top: 10px;}
@media only screen and (max-width: 767.9px) {
    .feeds-section {
        height: auto!important;
    }
}
